:root {}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    max-width: 1400px;
}

.container {
    display: flex;
}

.container-img {
    width: 600px;
    height: 100vh;

}

.container-img div {
    background-image: url(./side-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}